<html>
<head>
    <title>{{ album.album_title }}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="static/bootstrap.min.js"></script>
    <script src="static/bootstrap.js"></script>
    <script src="static/jquery.min.js"></script>

    <style>
        *{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        }
    </style>
</head>
<body>
<center>
    <img src="{{ album.album_logo }}" style="height: 600px;width: 600px;border-radius: 20px;">
    <h1> عنوان: {{ album.album_title }}      </h1>
    <a href="/music/artist/{{ artist_page }}"><h1> خواننده: {{ album.artist }}</h1></a>
    <h1> ژانر: {{ album.genre }}    </h1>

    <br><br><br><hr>
{% if album.song_set.all %}
        <h1>آهنگ ها</h1>

    {% for i in album.song_set.all %}
        <a href="{{ i.addr }}"><h1>{{ i.song }}.{{ song.file_type }} دانلود </h1></a>
        <audio controls autoplay>
        <source src="{{ i.addr }}">
        </audio>
    {% endfor %}
    {% else %}
    <br><br>
    <h1><i class="fa fa-warning"></i>{{ song }}</h1>
{% endif %}

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<form method="post" action="/music/{{ album.id }}/new-comment">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ album.id }}">
    <textarea name="comment" placeholder="Leave Your Comment Here"></textarea>
    <input type="submit" class="btn btn-primary  btn-lg" value="submit">


 </form>
<br><br>
<div>
    <center>
        <p>
            {% for c in comment %}
                <br><br><br>
            {{ c.comment }}
                <br><br><br>
            {% endfor %}
        </p>
    </center>
</div>

</center>
</body>
</html>