<html>
<head>
    <title>{{ album.album_title }}</title>
    <meta charset="utf-8">
    <style>
        *{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        }
    </style>
</head>
<body>
<center>
    <img src="{{ album.album_logo }}" style="height: 600px;width: 600px;border-radius: 20px;">
    <h1> عنوان: {{ album.album_title }}      </h1>
    <h1> خواننده: {{ album.artist }}     </h1>
    <h1> ژانر: {{ album.genre }}    </h1>
    <br>

    <br><br><br>
    آهنگ ها
    {% for i in album.song_set.all %}
        <a href="{{ i.addr }}"><h1>{{ i.song }}.{{ song.file_type }} دانلود </h1></a>
        <audio controls autoplay>
        <source src="{{ i.addr }}">
        </audio>
    {% endfor %}
</center>
</body>
</html>