<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <style>
        *{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;

        }
    </style>
</head>
<body>
<center>
{%  for i in album %}
    <img src="{{ i.album_logo }}" style="height: 500px;width: 500px;border-radius: 20px;">
    <h1> عنوان :   {{ i.album_title }}</h1>
    <h2> عنوان :   {{ i.artist }}</h2>
    <h2> ژانر :  {{ i.genre }}</h2>
    <h1><a href="{{ i.id }}">Download</a></h1>

    <hr><br><br><br>
{% endfor %}
</center>
</body>
</html>