<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <style>
        *{
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;

        }
    </style>
</head>
<body>
<center>
<form action="" method="post">
<head>
<meta charset="UTF-8">
<title>User Information Form</title>
</head>
<body>
<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="Submit" name="submit" value="Submit"/>
</form>

{% if submitbutton == "Submit" %}
    <h1>Username "{{ username }}" Created Sucsesfully</h1>
{% endif %}

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>

</form>
</center>
</body>
</html>